*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    flex-direction: column;
}

canvas{
    background-color: black;

}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.score--value{
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}

.menu-screen{
    z-index: 1;
    position:absolute;
    display: none;
    flex-direction: column;
    align-items: center;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.score-final{
    font-weight: 500;
    font-size: 1.5rem; 

}


.btn-play{
    border: none;
    border-radius: 100px ;
    padding: 10px 15px 10px 12px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    gap: 5px;
    cursor: pointer;
}
